.cart-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.slider-list {
  position: fixed;
  border-radius: 8px;
  padding: 20px;
  top: 70px;
  right: 0; /* Hidden by default */
  width: 30%;
  max-height: 800px;
  background-color: var(--pale-aqua);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transform: translateX(100%); /* Start off-screen */
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  overflow-y: auto;
  scrollbar-width: smooth;
}

.slider-list.visible {
  transform: translateX(0); /* Slides in */
}

.slider-cart-item {
  box-shadow: var(--blue-gray) 0px 5px 15px;
  border-radius: 12px;
  padding: 30px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  background-color: white;
}
.slider-cart-item span {
  display: flex;
  align-items: center;
}
.slider-cart-item span {
  display: flex;
  align-items: center;
}
/* .slider-cart-item span p {
  width: 50%;
} */
