.cart-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.slider-product-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-total-price-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider-total-price-div h3 {
  color: var(--cyan-black);
}
.slider-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}
/* .slider-cart-item span p {
  width: 50%;
} */
