/* Slider Box */

.slider-list {
  position: fixed;
  border-radius: 8px;
  top: 70px;
  padding-top: 20px;
  right: 0;
  height: fit-content;
  max-height: 70%;
  background-color: var(--pale-aqua);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transform: translateX(100%); /* Start off-screen */
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  scrollbar-width: smooth;
  overflow-y: scroll;
  /* width: 100%; */
  width: 30%;
}

.slider-list.visible {
  transform: translateX(0); /* Slides in */
}

/* Slider Properties */
.slider-product-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 20px;
  height: fit-content;
}

.slider-total-price-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.slider-total-price-div h3 {
  color: var(--cyan-black);
}

.slider-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding-bottom: 10px;
}

/* Slider Items */

.slider-cart-item {
  box-shadow: var(--blue-gray) 0px 5px 15px;
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  background-color: white;
  position: relative;
}
.slider-cart-thumbnail {
  width: 20%;
  height: auto;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 30px;
  margin-left: 0;
}

.slider-item-description {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.title-and-price {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  gap: 5px;
}
.title-and-price a {
  font-size: 0.8rem;
  cursor: pointer;
}
.title-and-price p {
  font-size: 0.9rem;
}

.slider-quantity-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  align-self: last baseline;
}

.slider-total-item-price {
  font-size: 0.9rem;
  width: 40%;
  color: var(--cyan-black);
  text-align: right;
}

.remove-button {
  position: absolute;
  right: -10px;
  top: 0;
  margin: 10px;

  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.remove-button:hover {
  color: rgb(219, 47, 47);
}

/* */
.cart-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: rgba(0, 0, 0, 0.76);
}
.cart-button p {
  align-self: flex-end;
}

.cart {
  width: 50px;
  height: 50px;
}
@media (max-width: 500px) {
  .cart-button {
    white-space: nowrap;
    padding: 0;
  }
  .cart {
    height: 30px;
    width: 40px;
  }
}
/* */

@media (max-width: 1300px) {
  .slider-list {
    width: fit-content;
    height: 500px;
    max-width: 50%;
  }
  .slider-buttons {
    flex-direction: column;
    gap: 0;
  }
}
