.checkout-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 10px;
  border: solid thin;
  margin: 10px;
}
.checkout-div {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  padding: 5px;
  justify-content: center;
}

.checkout-input-unity {
  margin: 15px;
  width: 300px;
  height: 20px;
  border: solid thin;
  box-shadow: none;
  -webkit-box-shadow: none; /* Safari, Chrome */
  -moz-box-shadow: none; /* Firefox */
  border-radius: 8px;
  padding: 10px;
}

.input-error {
  margin: 15px;
  width: 300px;
  height: 20px;
  border-radius: 8px;
  padding: 10px;

  border: 1px, solid, rgb(248, 33, 33);
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none; /* Safari, Chrome */
  -moz-box-shadow: none; /* Firefox */
}
.input-error:focus {
  margin: 15px;
  width: 300px;
  height: 20px;
  border-radius: 8px;
  padding: 10px;

  border: 1px, solid, rgb(248, 33, 33);
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none; /* Safari, Chrome */
  -moz-box-shadow: none; /* Firefox */
}
.checkout-select {
  margin: 20px;
  width: 100px;
  height: 20px;
  box-shadow: none;
  -webkit-box-shadow: none; /* Safari, Chrome */
  -moz-box-shadow: none; /* Firefox */
}
.payment-selection {
  margin: 10px;
  padding: 10px;
  width: 70%;
  border-radius: 8px;
}
.methods {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
.payment-method {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin: 10px;
  width: 90%;
  background-color: white;
  border-radius: 8px;
}
.payment-method div {
  padding: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment-method div:hover {
  background-color: var(--sky-blue);
  border-radius: 8px;
}
.payment-selection input[type="radio"]:checked + .payment-method {
  background-color: var(--sky-blue);
}

.payment-method input {
  padding: 50px;
}

.checkout-button {
  padding: 10px;
  width: 200px;
  border-radius: 8px;
  border: none;
  background-color: var(--blue-gray);
  color: #fff;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, letter-spacing 0.3s ease-in-out;
}
.checkout-button:hover {
  background-color: lightgreen;
  color: var(--cyan-black);
  transform: scale(1.05);
}
