.checkout-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.checkout-div {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 15px;
  padding: 5px;
  justify-content: center;
  width: 80%;
}

.checkout-input {
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 5px;
  gap: 5px;
}

.input-title {
  align-self: baseline;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 98%;
  height: 100%;
}
.input-title p {
  flex: 1;
  color: var(--cyan-black);
}

.checkout-input-unity {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 100%;
  height: 20px;
  border: none;
  /* box-shadow: none; */
  /* -webkit-box-shadow: none; 
  -moz-box-shadow: none;  */
  border-radius: 4px;
  padding: 10px;
  color: var(--cyan-black);
}

.checkout-input-unity:focus,
.checkout-input-unity:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.25) 0px 0px 0px 1px;
  outline: none; /* Removes the default focus outline */
}

.input-error {
  width: 300px;
  height: 20px;
  border-radius: 4px;
  padding: 10px;

  border: none;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none; /* Safari, Chrome */
  -moz-box-shadow: none; /* Firefox */

  box-shadow: rgba(248, 33, 33, 0.2) 0px 1px 3px 0px,
    rgba(248, 33, 33, 0.25) 0px 0px 0px 1px;
}

.select-state {
  display: flex;
  margin: 15px;
  align-items: center;
  font-size: 0.9rem;
  gap: 5px;
}
.checkout-select {
  all: unset;
  border-bottom: solid thin;
  text-align: center;
  padding: 2px;
  color: var(--cyan-black);
}
.checkout-select:hover {
  font-weight: 800;
  color: var(--cyan-black);
}

.payment-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 70%;
  border-radius: 8px;
  width: 100%;
}
.method-radio {
  display: none;
}
.methods {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 25%);
  gap: 10px;
}
.payment-method {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin: 10px;
  width: 90%;
  background-color: white;
  border-radius: 8px;
}
.payment-method {
  padding: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.payment-method:hover {
  background-color: var(--sky-blue);
  border-radius: 8px;
}
.payment-method.selected {
  background-color: var(--sky-blue);
}

.checkout-button {
  padding: 10px;
  width: 200px;
  border-radius: 8px;
  border: none;
  background-color: var(--blue-gray);
  color: #fff;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, letter-spacing 0.3s ease-in-out;
}
.checkout-button:hover {
  background-color: lightgreen;
  color: var(--cyan-black);
  transform: scale(1.05);
}

.city-state-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.city-state-box .input-title {
  align-self: center;
  width: 30%;
}

@media (max-width: 1250px) {
  .methods {
    width: 80%;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 1100px) {
  .checkout-div {
    width: 95%;
  }
}

@media (max-width: 860px) {
  .checkout-div {
    grid-template-columns: 1fr;
    gap: 2px;
  }
}

@media (max-width: 600px) {
  .methods {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .city-state-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .city-state-box .input-title {
    width: 100%;
  }
  .city-state-box .select-state {
    width: 100%;
  }
  .methods {
    grid-template-columns: 1fr;
    width: 80%;
  }
}
