.top-page {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .top-page {
    width: 30%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

/* Search box */
.product-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: 100%;
}
.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: 100%;
  background-color: white;
  border-radius: 50px;
  padding-left: 12px;
  padding-right: 12px;
  height: 30px;
}

.product-name-input {
  all: unset;
  width: 100%;
  background: none;
  padding: 0;
  margin: 0;
  /* margin-left: 10px; */
  box-shadow: none;
  border: none;
}

.product-name-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}
.search-button {
  all: unset;
  cursor: pointer;
  padding: 10px;
  justify-self: flex-end;
  text-align: right;
}

/* .categories-select {
  display: flex;
  all: unset;
  width: 20%;
  padding: 0;
  margin: 0;
  max-width: 20%;
}
.categories-select option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
} */

/* Home grid */
.home-grid {
  margin-top: 20px;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* grid-template-columns: 260px 1fr; */
}

/* Products div */
.products-list {
  display: flex;
  height: fit-content;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

@media (min-width: 900px) {
  .products-list {
    width: 90%;
  }
}

.products {
  /* flex: 1; */
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
   */
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
@media (max-width: 550px) {
  .products {
    /* flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100%;
    gap: 10px; */
    --gap: 1rem;
    display: grid;
    gap: var(--gap);
    grid-auto-flow: column;
    grid-auto-columns: 70%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: var(--gap);
  }
}

/* Sort Menu */
.sort-and-filter-div {
  display: flex;
  flex-direction: column;
}

.sort-select-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  gap: 5px;
}
.sort-select {
  all: unset;
  border-bottom: solid thin;
  text-align: center;
  padding: 2px;
  color: var(--cyan-black);
}
.sort-select:hover {
  font-weight: 800;
  color: var(--cyan-black);
}

/* Nav Menu */
.nav-menu {
  width: 100%;
  /* height: fit-content; */
  margin: 20px;
  background-color: var(--blue-gray);
}

/* Category Menu */
.category-ul {
  padding: 10px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.category-ul h2 {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;
  color: #0c6366;
}

.button-li {
  color: var(--blue-gray);
  font-size: 0.9rem;
  padding: 6px;
  border: none;
  flex: 1;
  white-space: nowrap;
  border-radius: 15px;
  color: white;
  background-color: transparent;
}

@media (max-width: 900px) {
  .nav-menu {
    height: 30vh;
  }
  .category-ul {
    height: 60%;
    overflow-y: scroll;
  }
}

.button-li:hover {
  /* font-weight: 800; */
  background-color: var(--sky-blue);
  cursor: pointer;
  color: var(--cyan-black);
}

.pages {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

.page-button {
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  color: var(--cyan-black);
  background-color: var(--sky-blue);
  cursor: pointer;
  font-weight: 800;
}

.page-button:hover {
  background-color: lightgreen;
}
