.product-form {
  border: solid thin;
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product-form img {
  width: 150px;
  height: 150px;
}

.thumbnail-button {
  background: none;
  border: none;
  cursor: pointer;
}

.product-div a {
  text-decoration: none;
}
.product-input {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  width: 90%;
}

.top-page {
  display: flex;
  justify-content: center;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.cart {
  width: 50px;
  height: 50px;
}

.send-to-cart {
  padding: 10px;
  margin: 20px;
}
