/* Tooltip.css */
.error-tooltip {
  position: relative;
  display: inline-block; /* Required for positioning */
}

.error-text {
  visibility: hidden; /* Hidden by default */
  width: 120px;
  background-color: rgb(255, 255, 255);
  color: var(--cyan-black);
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  border: solid thin;
  border-color: rgba(219, 54, 54, 0.822);
  font-size: 0.9rem;
}

.error-icon {
  color: rgba(219, 54, 54, 0.822);
}

.error-tooltip:hover .error-text {
  visibility: visible; /* Show the tooltip on hover */
  opacity: 1; /* Fade in the tooltip */
}
