.product-box {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.product-page {
  border: solid thin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-evaluation {
  display: flex;
  flex-direction: column;
}

.product-evaluation textarea {
  height: 50px;
  padding: 5px;
}
