* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: var(--cyan-black);
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--soft-aqua);
}

p {
  color: var(--cyan-black);
}
