/* Chrome, Safari, Edge, Opera */
.quantity-input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input {
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
}

.div-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 30px;
}
