.checkout-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.back-button {
  width: 20%;
  padding: 10px;
  margin: 10px;
}

.summary-item {
  display: flex;
  align-items: center;
}
.summary-item button {
  padding: 7px;
  margin: 10px;
}
.summary-item span {
  margin: 10px;
}
.summary {
  padding: 10px;
  border: solid thin;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px;
}
.total-value {
  margin: 10px;
}
