.checkout-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.summary {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.summary-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 10px;
  /* border-bottom: solid thin; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px -20px 25px -28px inset;
}
.summary-item img {
  margin-left: 10%;
}
.summary-item h4 {
  font-size: 0.9rem;
}
.summary-item p {
  color: var(--blue-gray);
  font-size: 0.8rem;
}
.summary-item button {
  padding: 7px;
  margin: 10px;
  justify-self: flex-end;
}
.summary-item span {
  margin: 10px;
}
.total-value {
  margin: 10px;
  padding: 20px;
  align-self: flex-end;
  font-weight: 600;
}

.back-button {
  width: 20%;
  padding: 10px;
  margin: 10px;
}
